:host { display: block; height: 100vh; font-family: sans-serif; }

.contenedor-centro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef; /* Fondo ligeramente distinto si quieres */
}

h1 { color: #333; margin-bottom: 20px; }

.btn-salir {
  padding: 10px 20px;
  background-color: #dc3545; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}